<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>830915263515-oq38vmm3ih5pom4q6ap95meorc8uu7m1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrpGXvoLs1ZNvVSyjzKK-vD1H8ebgcgyc</string>
	<key>GCM_SENDER_ID</key>
	<string>830915263515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.native.example.BaseProject</string>
	<key>PROJECT_ID</key>
	<string>pushdemo-f2d50</string>
	<key>STORAGE_BUCKET</key>
	<string>pushdemo-f2d50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830915263515:ios:2bb4db29e2139bc918ccbe</string>
	<key>DATABASE_URL</key>
	<string>https://pushdemo-f2d50.firebaseio.com</string>
</dict>
</plist>